---
title: Pete
---

<div class="mui-row">
  <div class="mui-panel title">
    <div class="mui-col-xs-12 mui-col-sm-6">
      <%= image_tag "icon_512.png", class: "app-icon" %>
    </div>
    <div class="mui-col-xs-12 mui-col-sm-6">
      <div class="mui-text-display4 mui-text-black">Pete</div>
      <div class="mui-text-headline mui-text-black">
        Create floating pop-up window from content of clipboard.
      </div>
      <div class="mui-text-headline mui-text-black">
        Inspired by <%= link_to "Kiritori", "http://kiritori.ruhenheim.org/jp/" %>
      </div>
    </div>
  </div>
</div>

<div class="mui-container demo-container">
  <div class="demo">
    <iframe src="https://www.youtube.com/embed/yuCfwhsnxlE" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div class="mui-container mui-text-left">
  <table class="mui-table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Version</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>2015-07-30</td>
        <td>1.0.0</td>
        <td>
          <%= link_to "Pete.dmg", "https://github.com/ocadaruma/pete/releases/download/v1.0.0/Pete.dmg", class: "mui-btn mui-btn-default normal-case" %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="mui-container section mui-text-left">
  <div class="mui-text-display1 mui-text-black">Requirements</div>
  <div class="mui-divider"></div>
  <div class="mui-container content">
    OS X 10.7 or later.
  </div>
</div>

<div class="mui-container section mui-text-left">
  <div class="mui-text-display1 mui-text-black">Usage</div>
  <div class="mui-divider"></div>
  <div class="mui-container content">
    <div class="mui-text-body2">
      1. Launch Pete.app
    </div>
    <div class="mui-text-body2">
      2. Copy any text to clipboard
    </div>
    <div class="mui-text-body2">
      3. Press hotkey (<span class="hotkey">Command + Shift + A</span> by default)
    </div>
  </div>
</div>

<div class="mui-container section mui-text-left last">
  <div class="mui-text-display1 mui-text-black">Contact</div>
  <div class="mui-divider"></div>
  <div class="mui-container content">
    okada&#64;mayreh.com
  </div>
</div>
